<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        section {
            display: grid;
            gap: 20px;
            grid-template-columns:repeat(4, 1fr);
        }
    </style>
</head>
<body>
<h1>Search result</h1>
<h3>{{ resultNumber }} for {{ searching_by }}</h3>
<a href="/export?word={{ searching_by }}">export CSV</a>
<section>
    <h4>title</h4>
    <h4>company</h4>
    <h4>location</h4>
    <h4>Link</h4>
    {% for job in jobs %}
        <span>{{ job.title }}</span>
        <span>{{ job.company }}</span>
        <span>{{ job.location }}</span>
        <a href="{{ job.link }}" target="_blank">apply</a>
    {% endfor %}
</section>
</body>
</html>