<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY HK NEWS</title>
    <style>
        section {
            display: grid;
            gap: 20px;
            grid-template-columns:repeat(5, 1fr);
        }
    </style>
<body>
<h1>HK NEWS~~~~~~~~</h1>
<form action="/" method="get">
    <button name="order_by" value="new">new</button>
</form>
<form action="/" method="get">
    <button name="order_by" value="popular">popular</button>
</form>

<section>
    <h3>title</h3>
    <h3>url</h3>
    <h3>points</h3>
    <h3>author</h3>
    <h3>comments</h3>
    {% for line in data %}
        <a href='/{{ line[5] }}'>
        <h3>{{ line[0] }}</h3>
        </a>
        <a href="{{ line[1] }}">GO LINK</a>
        <span>{{ line[2] }} points</span>
        <span>by : {{ line[3] }}</span>
        <span>{{ line[4] }}comments</span>
    {% endfor %}
</section>
</body>
</html>