<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY HK NEWS</title>
    <style>
        section {
            display: grid;
            gap: 20px;
            grid-template-columns:repeat(5, 1fr);
        }
    </style>
</head>
<body>
<h1>HK NEWS~~~~~~~~</h1>
<section>
    <span>title</span>
    <span>url</span>
    <span>points</span>
    <span>author</span>
    <span>comments</span>
    {% for line in data %}
        <span>{{ line[0] }}</span>
        <a href="{{ line[1] }}">GO LINK</a>
        <span>{{ line[2] }}</span>
        <span>{{ line[3] }}</span>
        <span>{{ line[4] }}</span>
    {% endfor %}
</section>
</body>
</html>