<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reddit reader~~~~~~~~</title>
    <style>
        .body__title {
            display: flex;
            justify-content: center;
        }

        .body__box--list {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            width: 80vw;
            border: 5px teal dashed;
        }

        .body__selects {
            display: block;
        }

    </style>
</head>
<body>
<div class="body__title">
    <h1>reddit reader</h1>
</div>
<div class="body__title">
    <h2>aggregate your favorite subreddits</h2>
</div>
<div class="body__box--list">
    <div>
        <h4>select what you want!</h4>
    </div>
    <div>
        <form class="body__selects" action="/read" method="get">
            {% for item in list %}
                <div class="body__selects"></div>
                <input type="checkbox" name="{{ item }}" value="on">
                <label id="{{ item }}">{{ item }}  </label>
            {% endfor %}
            <input type="submit" value="go aggregate">
        </form>
    </div>
</div>
</body>
</html>